@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	text-align: center;
	background-color: #6da5ff;
	font-family: 'Lato', sans-serif;
	color: #444;
	margin: 0px;
}

h1 {
	font-size: 55px;
}

h2 {
	line-height: 10px;
}

form {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-gap: 16px;
}

section {
	grid-column: 1/2;
}

.formArea {
	background-color: white;
	margin: 0px 400px;
	padding: 20px 0px;
	line-height: 50px;
	box-shadow: 0px 1px 3px rgba(0,0,0,.1);
}
